body{
font-family: 'Courier New', Courier, monospace;
text-align: center;
margin: 50 px;


}




button{
    padding: 10 px 20px;
    margin: 10 px;
    border: none;
    cursor: pointer;
   
}



#generarCupon{
background-color: blue;
color: white;
text-align: center;
}

#validarCupon{
background-color: green;
color: white;
text-align: end;

}

#mensaje{
font-weight: bold;
margin-top: 20px;

}

input{
    padding: 10 px;
    margin: 30 px;
    width:100 px;
    text-align: center;

}

p{
    font-size: 18 px;


}

.valido{

color: green;

}

.invalido{

color: red;

}
